@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Amatic+SC&family=Gloria+Hallelujah&family=K2D:ital,wght@1,600&family=Orbitron:wght@600&family=Palette+Mosaic&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

.marca-index{
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fadeInDown 1500ms ease-in-out;

}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.marca-index .fa-folder-open{
    font-size: 60px;
    color: #69d0a3;
}
.h1-index{
    margin-top: 10px;
    font-family: 'K2D', sans-serif;
    color: #69d0a3
}
.h2-index{
    font-family: 'K2D', sans-serif; color: gray;
}

.texto-login{
    font-size: small;
    margin-bottom: 5px;
}
.fa-circle{
    font-size: small;
    padding: 10px;
    text-align: center;
}

.caja-login{
    width: 300px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaeeec;
}

.section-login{
    padding-right: 30px;
}
.input-login{
    width: 100%;
    margin-bottom: 10px;
}

.boton-entrar{
    margin-top: 5px;
    background-color:#69d0a3;
    color: white;
    padding: 5px;
    border: none;
    
}
.boton-crear-cuenta{
    margin-top: 25px;
}

.footer-index{
    text-align: center;
}
.fa-instagram{
    margin-right: 10px;
    color: black;
    font-size: x-large;
    position: relative;
    bottom: 2px;
}

.footer-index .fa-envelope{
    color: black;
    font-size: x-large;
    position: relative;
    bottom: 2px;
}